*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~
\#*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
compiled*
*.~*
*.dcu
*.ddp
*.dsk
*.bpl
*.drc
*.identcache
*.local
*.dcp
__*
*.stat
Win32/
Win64/
Android/
